{% extends 'base.html' %}

{% block content %}

<div class="flex w-full h-full justify-center items-center mt-20">
    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
      <h1 class="text-2xl font-bold border-b-2 mb-5">Additive Inverse</h1>
        <form method="POST" action="#">
            {% csrf_token %}
          <div class="form-group mb-6">
            <label for="exampleInputEmail1" class="form-label inline-block mb-2 text-gray-700">First Number</label>
            <input disabled value="{{ a }}" type="number" name='a' class="form-control
              block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Enter First Number">
          </div>
          <div class="form-group mb-6">
            <label for="exampleInputPassword1" class="form-label inline-block mb-2 text-gray-700">Second Number</label>
            <input required disabled value="{{ b }}" type="number" name='b' class="form-control block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInputPassword1"
              placeholder="Second Number">
          </div>
          <div class="flex justify-around mb-10">
              <div class="flex flex-col w-full">
                  <h1>Additive Inverse</h1>
                  <h1> {{ i }}</h1>
              </div>
              
          </div>

          <div class="flex justify-around">
            <a href="/calc_add" type="submit" class="
            px-6
            py-2.5
            mr-5
            bg-blue-600
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition
            duration-150
            ease-in-out">Calculate Again</a>
            <a href="/" type="submit" class="
            px-6
            py-2.5
            bg-gray-600
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-gray-700 hover:shadow-lg
            focus:bg-gray-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-gray-800 active:shadow-lg
            transition
            duration-150
            ease-in-out">Return To Home</a>
          </div>
        </form>
      </div>
</div>

{% endblock content %}
